@model PMS.Models.SessionKey
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var SessionKey = @Html.Raw(@Json.Serialize(Model));
</script>



<!-- basic styles -->



<link rel="stylesheet" href="~/css/style.css" />


<div ng-app="APIModule">
    <div ng-controller="APIController">
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->

            @Html.Partial("_MainMenu")
            <!--BEGIN THEME SETTING-->

            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <!--SUB TITLE -- SANJEEWA-->
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">


                            <div class="col-lg-12">
                                <div class="row">

                                    <div class="col-lg-6">
                                        <div class="panel">

                                            <div class="panel-body pan">

                                                <div class="form-body pal">

                                                    <div class="panel-heading">
                                                        Appointment
                                                    </div>
                                                    <div class="panel-body pan">
                                                        <form>
                                                            <div class="form-body pal">
                                                                <div class="form-group">
                                                                    <label for="inputMessage" class="control-label">
                                                                        Problem Brief
                                                                    </label>
                                                                    <textarea rows="2" ng-model="Patient.ProblemBrief"
                                                                              class="form-control"></textarea>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="inputName"
                                                                                   class="control-label">
                                                                                AppoinmentDate
                                                                            </label>
                                                                            <div class="input-icon right">
                                                                                <input id="inputName" type="date" ng-model="Patient.AppoinmentDate"
                                                                                       placeholder=""
                                                                                       class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label for="inputEmail"
                                                                                   class="control-label">
                                                                                Age
                                                                            </label>
                                                                            <div class="input-icon right">
                                                                                <input id="inputEmail" type="number" ng-model="Patient.Age"
                                                                                       placeholder=""
                                                                                       class="form-control" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label for="inputSubject" class="col-md-3 control-label">
                                                                                Hospital
                                                                            </label>
                                                                            <div class="input-icon right col-md-9" custom-select="t as t.name for t in hospital | filter: { name: $searchTerm }"
                                                                                 ng-model="Patient.hospital">
                                                                                <div class="pull-left">
                                                                                    <strong>Hospital Name:{{ t.name }}</strong><br />
                                                                                    <span>Tp : {{t.phone }}</span><br />
                                                                                    <span>Address :{{t.address }}</span><br />
                                                                                    <span>Good Reviews :{{t.feedback }}%</span>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div>
                                                                        <div class="form-group">
                                                                            <label for="inputSubject" class="control-label col-md-3">
                                                                                Doctor
                                                                            </label>

                                                                            <div class="input-icon right col-md-9" custom-select="t as t.name for t in doctor | filter: filterExpression"
                                                                                 ng-model="Patient.doctor">
                                                                                <div class="pull-left">
                                                                                    <strong>Doctor Name :{{ t.name }}</strong><br />
                                                                                    <span>Deparment :{{ t.department }}</span><br />
                                                                                    <span>Tp :{{ t.phone }}</span>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                            <div class="form-actions text-right pal">
                                                                <button ng-click="saveData()" class="btn btn-primary">
                                                                    Save
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>



                                                </div>

                                            </div>


                                        </div>

                                    </div>

                                    <div class="col-lg-6">
                                        <div class="panel">
                                            <div class="panel panel-green">
                                                <div class="panel-heading">Appointment Histry</div>
                                                <div class="panel-body">
                                                    <label>Search:</label>
                                                    <input type="text" ng-model="search" />
                                                    <table class="table table-hover table-bordered" ng-show="apoinmentslist">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>TimeSlot</th>
                                                                <th>Age</th>
                                                                <th>Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="item in apoinmentslist |filter:search ">
                                                                <td ng-bind="item.appoinmentsID "></td>
                                                                <td ng-bind="item.timeSlot "></td>
                                                                <td ng-bind="item.age "></td>
                                                                <td ng-bind="item.appoinmentsStatus "></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>


                                        </div>
                                        </div>
                                        </div>
                                    </div>

                                </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        
                    </div>
                </div>
                <!--END FOOTER-->
            </div>

        </div>
    </div>
</div>
<!-- basic scripts -->
<!--[if !IE]> -->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<![endif]-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
<script src="~/js/protractor.js"></script>


<script src="~/js/customSelect.js"></script>
<script src="~/js/app_Appointment.js"></script>



