@model PMS.Models.SessionKey
@inject IJsonHelper Json;
<script type="text/javascript">
    var SessionKey = @Html.Raw(@Json.Serialize(Model));
</script>
@{
    ViewData["Title"] = "Doctor Signup";
}
<div ng-app="APIModule">
    <div ng-controller="APIController  as main">
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->

            @Html.Partial("_MainMenu")

            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <!--SUB TITLE -- SANJEEWA-->
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                            <div class="col-lg-12">


                                <div class="panel panel-orange">
                                    <div class="panel-heading">
                                        Doctor Signup
                                    </div>
                                    <div class="panel-body pan">
                                        <form>
                                            <div class="form-body pal">
                                                <div class="form-group" hidden>
                                                    <label for="inputName" class="control-label">
                                                        ID
                                                    </label>
                                                    <div class="input-icon right">
                                                        <input id="inputName" ng-model="main.Doctor.doctorID" type="text" class="form-control" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                Surname
                                                            </label>
                                                            <div class="input-icon right">
                                                                <input id="inputName" ng-model="main.Doctor.Surname" required type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                Name
                                                            </label>
                                                            <div class="input-icon right">
                                                                <input id="inputName" ng-model="main.Doctor.Name" required type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                DateOfBirth
                                                            </label>
                                                            <div class="input-icon right">
                                                                <input class="form-control" type="date" ng-model="main.Doctor.DateOfBirth |  date: 'MM-dd-yyyy'" required />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                Gender
                                                            </label>
                                                            <div class="input-icon right">
                                                                <select class="form-control" name="Status" id="Status" required ng-model="main.Doctor.Gender">
                                                                    <option value="Male">Male</option>
                                                                    <option value="Female">Female</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                HomeAddress
                                                            </label>
                                                            <div class="input-icon right">
                                                                <input id="inputEmail" ng-model="main.Doctor.HomeAddress" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputName" class="control-label">
                                                                Department
                                                            </label>
                                                            <div class="input-icon right">
                                                                <input id="inputEmail" ng-model="main.Doctor.Department" type="text" class="form-control" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Mobile Number
                                                                </label>
                                                                <div class="input-icon right">
                                                                    <input id="inputEmail" ng-model="main.Doctor.MobileNumber" required type="number" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Home Number
                                                                </label>
                                                                <div class="input-icon right">
                                                                    <input id="inputEmail" ng-model="main.Doctor.HomeNumber" type="number" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Office Number
                                                                </label>
                                                                <div class="input-icon right">
                                                                    <input id="inputEmail" ng-model="main.Doctor.OfficeNumber" type="number" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Email
                                                                </label>
                                                                <div class="input-icon right">
                                                                    <input id="inputEmail" ng-model="main.Doctor.Email" required type="text" class="form-control" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Alias
                                                                </label>
                                                                <div class="input-icon right">
                                                                    <input id="inputEmail" ng-model="main.Doctor.Alias" type="text" class="form-control" />
                                                                </div>
                                                            </div>


                                                        </div>  
                                                        </div>
                                                        <div class="form-actions text-right pal">
                                                            <button ng-click="main.addClickHandler()" class="btn btn-primary">
                                                                Save
                                                            </button>
                                                            <button ng-click="main.resetClickHandler()" class="btn btn-primary">
                                                                Clear Form
                                                            </button>
                                                        </div>

                                                        <div class="panel-body">
                                                            <label>Search:</label>
                                                            <input type="text" ng-model="main.search" />
                                                            <table class="table table-hover table-condensed" ng-show="main.addresses">
                                                                <thead>
                                                                    <tr>
                                                                        <th hidden>#</th>
                                                                        <th>Name</th>
                                                                        <th>DateOfBirth</th>
                                                                        <th>Gender</th>
                                                                        <th>HomeAddress</th>
                                                                        <th>Department</th>
                                                                        <th>MobileNumber</th>
                                                                        <th>OfficeNumber</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="item in main.addresses |filter:main.search ">
                                                                        <td hidden ng-bind="item.ID "></td>
                                                                        <td ng-bind="item.Surname + item.Name"></td>
                                                                        <td ng-bind="item.DateOfBirth | date: 'MM-dd-yyyy' "></td>
                                                                        <td ng-bind="item.Gender "></td>
                                                                        <td ng-bind="item.HomeAddress "></td>
                                                                        <td ng-bind="item.department "></td>
                                                                        <td ng-bind="item.MobileNumber "></td>
                                                                        <td ng-bind="item.officeNumber "></td>
                                                                        <td>
                                                                            <button class="btn btn-primary" ng-click="main.editClickHandler(item)">Edit</button>
                                                                            <button class="btn btn-danger" ng-click="main.removeClickHandler(item)">Remove</button>
                                                                        </td>
                                                                    </tr>


                                                                </tbody>
                                                            </table>
                                                        </div>

</form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="#">2014 © x</a>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>

        </div>
    </div>
</div>
<script src="~/js/angular.js"></script>
<script src="~/js/app_Doctor.js"></script>





