@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewBag.Title = "My Website Pagesssssssssssssssssssssssss";
}

<section class="content-header">
</section>
<!-- Main content -->
<section class="content container-fluid">
</section>