@{
    Layout = null;
}

<link type="text/css" rel="stylesheet" href="~/css/login.css">

<div data-ng-app="APIModule">
 


    <div class="main-w3layouts wrapper" ng-controller="APIController">
        <h1>PMS</h1>
        <div class="main-agileinfo">
            <ul class="tab">
                <li><a href="#" class="tablinks active" onclick="openCity(event, 'London')">SignIn</a></li>
                <li><a href="#" class="tablinks" onclick="openCity(event, 'Paris')">SignUp</a></li>

            </ul>


            <div id="London" class="tabcontent" style="display:block">

                <h1>SignIn</h1>

                <div>
                    <form>
                        <input class="text" type="text" data-ng-model="UserName" placeholder="Username" required="">
                        <input class="text" type="password" data-ng-model="Password" placeholder="Password" required="">
                         
                        <input type="submit" ng-click="login()" value="SIGNUP">
                    </form>
                </div>

                <!-- copyright -->
                <div class="colorlibcopy-agile">
                   
                </div>

            </div>

            <div id="Paris" class="tabcontent">

                <h1>SignUp</h1>

                <div>
                    <form>
                        <input class="text" type="text" name="Username" ng-model=UserName placeholder="Username" required="">
                        <input class="text" type="password" name="password" ng-model=Password placeholder="Password" required="">
                        <select class="text" type="text"  name="Status" id="Status" ng-model=Type>
                            <option value="patient">Patient</option>
                            <option value="Doctor">Doctor</option>
                            <option value="admin">Ddmin</option>
                            <option value="pharmacists">Pharmacists</option>
                        </select>
                        <div class="wthree-text">
                            <label class="anim">
                                <input type="checkbox" class="checkbox" required="">
                                <span>I Agree To The Terms & Conditions</span>
                            </label>
                            <div class="clear"> </div>
                        </div>
                        <input type="submit" ng-click="signUp()" value="SIGNUP">
                    </form>
                    @*<p>Don't have an Account? <a href="#"> Login Now!</a></p>*@
                </div>

                <!-- copyright -->
                <div class="colorlibcopy-agile">
                    
                </div>


            </div>
        </div>
    </div>

    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="~/js/site.js"></script>
<script src="~/js/angular.js"></script>
<script src="~/js/login_controller.js"></script>