         
@model PMS.Models.SessionKey
@{
    ViewData["Title"] = "ViewAppoinments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var SessionKey = @Html.Raw(@Json.Serialize(Model));
</script>



<!-- basic styles -->



<link rel="stylesheet" href="~/css/style.css" />


<div ng-app="APIModule">
    <div ng-controller="APIController">
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->

            @Html.Partial("_MainMenu")
            <!--BEGIN THEME SETTING-->

            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <!--SUB TITLE -- SANJEEWA-->
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">


                            <div class="col-lg-12">


                                <div class="panel panel-green">
                                    <div class="panel-heading">View Appoinments</div>
                                    <div class="panel-body">
                                        <label>Search:</label>
                                        <input type="text" ng-model="search" />
                                        <table class="table table-hover table-bordered" ng-show="appointment">
                                            <thead>
                                                <tr>
                                                    <th>PatientName</th>
                                                    <th>ProblemBrief</th>
                                                    <th>AppoinmentDate</th>
                                                    <th>DoctorName</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in appointment |filter:search ">
                                                    <td ng-bind="item.PatientName "></td>
                                                    <td ng-bind="item.ProblemBrief "></td>
                                                    <td ng-bind="item.AppoinmentDate "></td>
                                                    <td ng-bind="item.DoctorName "></td> 
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                    <div class="copyright">
                        <a href="#">2014 © x</a>
                    </div>
                </div>
                <!--END FOOTER-->
            </div>

        </div>
    </div>
</div>
<!-- basic scripts -->
<!--[if !IE]> -->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<![endif]-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
<script src="~/js/protractor.js"></script>


<script src="~/js/customSelect.js"></script>
<script src="~/js/app_Appointment.js"></script>



